<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola</title>
</head>
<body>
    <h1>Mi horario escolar</h1>
    <p><img src="machado.webp" /></p>
    <table border = "1">
        <tr>
        <td><b>HORAS</b></td>
        <td><b>LUNES</b></td>
        <td><b>MARTES</b></td>
        <td><b>MIERCOLES</b></td>
        <td><b>JUEVES</b></td>
        <td><b>VIERNES</b></td>
        <td><b>SABADO</b></td>
        <td><b>DOMINGO</b></td>

        </tr>
        <tr>
        <td> 8 </td>
        <td>Insti</td>
        <td>Insti</td>
        <td>Insti</td>
        <td>Insti</td>
        <td>Insti</td>
        <td> </td>
        <td> </td>
        </tr>
        <td> 9</td>
        <td> Insti</td>
        <td> Insti</td>
        <td> Insti</td>
        <td> Insti</td>
        <td> Insti</td>
        <td> </td>
        <td> </td>
        </tr>
        <td> 10 </td>
        <td> Insti</td>
        <td> Insti</td>
        <td> Insti</td>
        <td> Insti</td>
        <td> Insti</td>
        <td> </td>
        <td> </td>
        </tr>
        <td> 11 </td>
        <td> Insti</td>
        <td> Insti</td>
        <td> Insti</td>
        <td> Insti</td>
        <td> Insti</td>
        <td>Scouts</td>
        <td> </td>
        </tr>
        <td> 12 </td>
        <td> Insti</td>
        <td> Insti</td>
        <td> Insti</td>
        <td> Insti</td>
        <td> Insti</td>
        <td>Scouts</td>
        <td> </td>
        </tr>
        <td> 13 </td>
        <td> Insti</td>
        <td> Insti</td>
        <td> Insti</td>
        <td> Insti</td>
        <td> Insti</td>
        <td>Scouts</td>
        <td> </td>
        </tr>
        <td> 14 </td>
        <td> Insti</td>
        <td> Insti</td>
        <td> Insti</td>
        <td> Insti</td>
        <td> Insti</td>
        <td> </td>
        <td> </td>
        </tr>
        <td> 15 </td>
        <td> Almuerzo</td>
        <td> Almuerzo</td>
        <td> Almuerzo</td>
        <td> Almuerzo</td>
        <td> Almuerzo</td>
        <td> </td>
        <td> </td>
        </tr>
        <td> 16 </td>
        <td> Descanso</td>
        <td> Descanso</td>
        <td> Descanso</td>
        <td> Descanso</td>
        <td> Descanso</td>
        <td> </td>
        <td> </td>
        </tr>
        <td> 17 </td>
        <td> Deberes</td>
        <td> Deberes</td>
        <td> Deberes</td>
        <td> Deberes</td>
        <td> Deberes</td>
        <td>  </td>
        <td> </td>
        </tr>
        <td> 18 </td>
        <td>Deberes</td>
        <td>Academia</td>
        <td>Deberes</td>
        <td>Academia</td>
        <td> </td>
        <td>  </td>
        <td> </td>
        </tr>
        <td> 19 </td>
        <td>Academia</td>
        <td>Academia</td>
        <td>Academia</td>
        <td>Academia</td>
        <td> </td>
        <td> </td>
        <td> </td>
        </tr>
        <td> 20 </td>
        <td>Academia</td>
        <td>Deberes</td>
        <td>Academia</td>
        <td>Deberes</td>
        <td> </td>
        <td> </td>
        <td> </td>
        </tr>
        <td> 21 </td>
        <td> Cena</td>
        <td> Cena</td>
        <td> Cena</td>
        <td> Cena</td>
        <td> Cena</td>
        <td> </td>
        <td> </td>

        </tr>
    </table>
</body>
</html>